.assignmentcontainer {
  display: flex;
  flex-direction: row;
  color: #555;
  margin-bottom: 10px;
}

.img {
  margin-right: 10px;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 4px solid #000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: '';
}
