.sectionname {
  font-size: 1.75em;
  line-height: 25px;
  margin-bottom: 10px;
  background: #f4f4f4;
  padding: 10px;
  border-bottom: 2px solid #e2a500;
  color: #966b00;
  font-weight: bold;
}

.sectioncontainer {
  margin-bottom: 10px;
  margin-top: 20px;
}
