.bodycontainer {
  width: 60%;
}

.container {
  width: 100%;
  margin: 10px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
}
