.bodycontainer {
  width: 60%;
}

.container {
  width: 100%;
  margin: 10px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.descriptioncontainer {
  margin-bottom: 20px;
}
