.announcementcontainer {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  margin-bottom: 2vh;
}

@media (max-width: 991px) {
  .announcementcontainer {
    width: 90vw;
  }
}
